
.slides section.has-dark-background,
.slides section.has-dark-background h2 {
    color: #fff;
}

.slides section.has-light-background,
.slides section.has-light-background h2 {
    color: #222;
}

.slides section img.r-stretch {
    width: 100%;
    height: 100%;
}

.slides {
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%) scale(1);
}

#header {
    width: 100%;
    height: 100%;
}

.reveal .slides {
    inset: unset;
    transform: unset;
}

.slides section .wrap {
    background-image: url("assets/slider1_1.png");
    background-size: 100% 140%;
    margin-top: 100px;
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.slides section .contain1 {
    /* background-image: url("assets/slider2_2.png", "assets/slider2_1.png");  */
    background-image: url('assets/slider10_banner.png');
    background-size: 100% 100%;
    /* margin-top: 180px; */
    text-align: left;
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.slides section .contain2 {
    /* background-image: url("assets/slider2_2.png"); 
        background-size: 100% 100%; */
    /* margin-top: 180px; */
/* text-align: center !important; */
    text-align: left;
    /* padding-left: 6%; */
    /* padding-top: 1%;
        padding-bottom: 1%; */
    display: block;
    /* width: 45%; */
}

.slides section .contain2 .contain-left {
    padding: 5px;
    float: left;
    width: 48%;
}

.slides section .contain2 .contain-right {
    padding: 5px;
    float: right;
    width: 48%;

}

.slides section .wrap .wrap-text {
    font-size: 25px;
}

.slides section .contain2 .contain-block {
    width: 31%;
    height: 500px;
    background-color: white;
    border: black;
    border-width: 3px;
    float: left;
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
}

.slides section .contain2 .contain-block .header {
    height: 66px;
    width: initial;
    background-color: #7587a7;
    color: white;
    text-align: center;
    font-size: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.slides section .contain2 .contain-block .content {


    color: black;
    text-align: center;
    font-size: 21px;

}

.slides section .contain2 .vertical-content {
    color: #300034;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    background-color: #c6d1f1;
    margin: 8px 23px 8px 23px;
    line-height: 1;
}

.slides section .contain2 .vertical-content1 {
    color: black;
    text-align: center;
    font-size: 19px;
    /* background-color: #7587a7; */
}

.slides section .contain2 img {
    width: 100%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

.text-h5{
    width: inherit; font-size:25px;margin-left:1%; margin-bottom:0%;color: #3F81FD;

}
.text-small{
    font-size: small;
}
.text-15{
    font-size: 15px;
}
.text-14{
    font-size: 14px;
}
.text-header{
    font-size: 24px; padding-top: 10px; padding-bottom: 11px;
}
.text-title{
    width: inherit; margin-left:1%;color: #3F81FD;
}
.text-28{
    font-size: 28px;
    padding: 15px;
}
.text-20{
    font-size: 20px;
}
.reveal ul {
    line-height: 1.5;
    margin-left: 0px;
}
.text-left{
    float: left;
}
.text-center{
    text-align: center !important;
}
.text-oneline{
    line-height: 1 !important;
}
@media only screen and (max-device-width: 1024px) {
    .title-h4{
        font-size: x-large !important;
    }
    .text-h5{
        font-size: 18px;
        margin: 0px !important;
    }
    .text-15{
        font-size: 10px;
    }
    .text-14{
        font-size: 12px;
    }
    .text-header{
        font-size: 20px; padding-top: 5px; padding-bottom: 5px;
    }
    .text-28{
        font-size: 23px;
        padding: 5px;
    }
    .text-20{
        font-size: 15px;
    }
    .slides section .contain2 .contain-block {

        height: 80vh;
    }
    .slides section .contain2 .contain-block .content {

        font-size: 16px;
    }
    .slides section .contain2 .contain-block .header {

        font-size: 24px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .reveal ul {
        line-height: 1;
        font-size: 10px;
    }
    .slides section .contain2 .vertical-content {
        font-size: 14px;
        margin: 5px 20px;

    }
    .slides section .contain2 img {
        margin: 0px;
    }
    .slides section .contain2 .vertical-content1 {
        font-size: 13px;
    }
    .title{
        font-size: 10px;
    }
}